.idea
.python-version
*.egg-info
*.egg
*.whl

.project
__pycache__
build
dist
venv
venv2
.ontoenv
.env
.ipynb_checkpoints
bob/.ipynb_checkpoints
samples/.ipynb_checkpoints
tutorial/.ipynb_checkpoints
.mypy_cache
