[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
build = "*"
pytest = "*"
pytest-cov = "*"
pyshacl = "*"
python-dotenv = "*"
pyvis = "*"
setuptools_scm = "*"

[packages]
rdflib = "*"
owlrl = "*"
ontoenv = "*"
bob = {path = "."}
