[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = {version=">=6.2"}
pytest-cov = {version=">=2.12"}

[packages]
rdflib = "*"
owlrl = "*"
requests = "*"
bob = {path = "."}

[requires]
python_version = "3.8"
