[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pyshacl = "*"
python-dotenv = "*"

[packages]
rdflib = "*"
owlrl = "*"
requests = "*"
bob = {path = "."}

[requires]
python_version = "3.8"
